{% extends "base.html" %}

{% block title %}TreeMaps{% endblock %}

{% block page_content %}
<img src="/static/logo1.png" alt="TreeMaps" width="350"/>
<br>

<li>A platform for accelerated learning and sharing of knowledge and memories.</li> 
<li>Links information in proven chains of easy, compelling and cohesive ways of learning and exposes them as virtual trees</li>  

<div class="page-header">
    <h3>Prototype</h3>
        <li> <a href= '{{ url_for("cube") }}'> Create Cubes</a> </li>
        <li> <a href='{{ url_for("trees") }}'> Your Trees</a> </li>
        <li> <a href='{{ url_for("arrow") }}'> Create MindMap</a> </li>
        <li> <a href='{{ url_for("mindmap2") }}'> Starry Hack</a> </li>
        <li> <a href='{{ url_for("mindmap") }}'> Basic MindMap</a> </li>
        <li> <a href='{{ url_for("mindmap_secondcircle") }}'> 2nd Level MindMap</a> </li>
        <li> <a href='{{ url_for("example2") }}'> Geometric Positions</a> </li>
        <li> <a href='{{ url_for("markdown") }}'> MarkDown</a> </li>
        <li> <a href='{{ url_for("terminal") }}'> Terminal</a> </li>



</div>
{% endblock %}

