<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aframe-markdown demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-markdown/dist/aframe-markdown.min.js"></script>
  </head>  
  <body>
    
    <a-scene 
      background="color: black"
      markdown="
        normalFont: https://unpkg.com/aframe-markdown@0.1.2/fonts/Roboto-msdf.json; 
        boldFont: https://unpkg.com/aframe-markdown@0.1.2/fonts/Roboto-Bold-msdf.json;
      "
    >
      <a-assets>
        <a-asset-item id="md" src="/static/markdowntest.md"></a-asset-item>
      </a-assets>
      <a-entity markdown="src: #md" position="0 1.5 -1"></a-entity>
      <a-entity markdown="src: #md" position="-1 1.5 -1"></a-entity>
      <a-entity markdown="src: #md" position="1 1.5 -1"></a-entity>
    
    </a-scene>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>

