<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>A-Frame Textarea Component - Basic</title>
      <meta name="description" content="Basic example for Textarea component."></meta>
      <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
      <script src="static/aframe-textarea-component.js"></script>
    </head>
    <body>
      <a-scene>
        <a-assets>
        </a-assets>
  
        <a-entity position="0 1.5 -1" textarea="cols: 20; rows: 4; text: type something...; backgroundColor: #01579b; color: white; disabledBackgroundColor: red; disabled: false;"></a-entity>
        <a-light type="point" intensity="2" position="2 4 4"></a-light>
        <a-sky  color="#000000" ></a-sky>
        <a-camera><a-cursor></a-cursor></a-camera>
      </a-scene>
     
    
    </body>
  </html>